<footer id="footer" class="container sticky bottom-0 z-10 shadow-custom-navbar">

  <div class="flex justify-around pt-2 pb-2">
    <% if @trip && @trip.id %>
      <%= link_to trip_path(@trip) do %>
          <!-- <i class="fas fa-home text-gray-200 text-2xl"></i> -->
        <!-- %img{:src => "/images/image1.svg"} -->
        <%= image_tag "logo-icon.png", alt: "alttext", class: "h-6 mt-1" %>
      <% end %>
      <%= link_to trip_tasks_path(@trip) do %>
        <i class="fas fa-tasks text-gray-200 text-2xl"></i>
      <% end %>
    <% else %>
      <%= link_to new_trip_path() do %>
        <i class="fas fa-home text-gray-200 text-2xl"></i>
      <% end %>
    <% end %>

       <!-- add link to CGU -->
      <div>
         <%= link_to cgu_path() do %>
         <i class="fas fa-info text-gray-200 text-2xl"></i>
       <% end %>
      </div>
    <!-- end CGU -->

    <!-- <%= link_to user_session_path do %> -->
      <% if current_user %>
        <button class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none focus:shadow-solid" id="user-menu" aria-label="User menu" aria-haspopup="true">
          <i class="fas fa-user text-gray-200 text-2xl"></i>
        </button>



        <div id="user-menu-dropdown" class="origin-top-left absolute top-2 w-24 ml-32 rounded-md shadow-lg bg-gray-300 bg-opacity-50">
          <div class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "px-4 py-2 text-gray-600 font-bold", role: "menuitem" %>
          </div>
        </div>
      <% else %>
        <i class="far fa-user text-gray-200 text-2xl"></i>
      <% end %>
    <!-- <% end %> -->

  </div>
</footer>


<!-- block px-4 py-2 text-sm text-gray-700 -->
